:root{
    --background-primary-color: #ffffff;
    --background-secondary-color: #f5f5f5;
    --background-tertiary-color: #000000;

    --botton-primary-color: #8f0101;
    --botton-secondary-color: #B81515;
    
    --text-primary-color: #222;
    --text-secondary-color: #ffffff;   
}

/* CSS RESET */
body, img, p, fieldset, legend, label, input, select, textarea, button{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
